* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    /* height: 40px; */
    background-color: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 16px 18px;
}
.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
/* Header */
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 38px;
}
.navbar ul {
    display: flex;
    margin-left: 40px;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: #4f5361;
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 13px 18px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
    /* Lấy width thực là 559 : width của cả class content là 1110 > khoảng 50.36% rồi làm tròn */
}
.hero .sub-title {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 119%;
    margin-top: 8px;
}
.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 178%;
}
.hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
}
.hero-img {
    position: absolute;
    right: calc((100% - 1110px) / 2 - 100px);
    bottom: 0;
}
/* ====== Clients ======== */
.clients {
    margin-top: 79px;
    padding: 43px 0px 64px 0px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
}
.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    line-height: 125%;
}
.clients .row-desc {
    margin-top: 23px;
}
.clients .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clients .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ======== Guides =========== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}
.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    /* Để khi trình duyệt nhỏ thì không bị hiện scroll */
    color: #5a6473;
    text-align: center;
    font-weight: 400;
    line-height: 188%;
}
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}
.list-guide .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 110%;
}
.list-guide .link {
    display: inline-block;
    /* Vì thẻ a là thẻ block nên margin top ko hoạt động, phải bổ sung display */
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}
.list-guide .arrow {
    margin-left: 8px;
}
.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guide-cta .btn {
    min-width: 170px;
    font-size: 1.3rem;
}
/* ============ Featured ================= */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}
.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}
.featured .row {
    display: flex;
    justify-content: space-between;
}
.featured .row .desc {
    margin-top: 15px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 188%;
}
.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    color: #444;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.featured .link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
}
.featured .link .arrow {
    margin-left: 8px;
}
.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
.featured .item {
    flex: 1;
    border-radius: 12px;
    background-color: #ffffff;
    border-radius: 12px;
}
.featured .body {
    padding: 0px 20px 23px 28px;
}
.featured .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
}
.featured .list .thumbnail {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
/* ======== Stats ========== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}
.stats .img-block {
    position: relative;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .stats-trend {
    position: absolute;
    padding: 45px 22px 40px;
    width: 239px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
    top: 0;
    left: 0;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .info .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 45px;
    letter-spacing: 0%;
    color: #000339;
    width: 269px;
}

.stats .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background-color: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 0%;
    color: #5a6473;
}
.stats-trend .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.26px;
}
.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
}
.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}
.stats .avatar-block {
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
    margin-top: 26px;
}
.stats .avatar-group {
    display: flex;
}
.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    background: var(--bg-color, #fff);
    color: #fff;
    line-height: 16px;
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 450;
    letter-spacing: -0.02em;
}
.stats .avatar:first-child {
    margin-left: 0;
}
.stats .row-qty {
    margin-top: 110px;
    padding: 0 32px;
    justify-content: space-between;
}
.stats .quantity {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}
.stats .qty-desc {
    margin-top: 22px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
/* ===== Subcription ===== */
.subcription {
    margin-top: 90px;
}
.subcription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}
.subcription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}
.subcription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}
.subcription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    opacity: 0.75;
}
.subcription .btn {
    margin-top: 20px;
    min-width: 151px;
    border-radius: 12px;
    background: #fff;
    color: #002366;
}
.subcription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* ==== Footer ====== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}
.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .item a {
    display: block;
    margin-top: 18px;
    white-space: nowrap;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.footer .social {
    display: flex;
    margin-top: 40px;
}
.footer .social-link {
    display: flex;
    margin-right: 16px;
    width: 29px;
    height: 29px;
    background: #f9f9f9;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.footer .row-bottom {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}
